apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: x-api
  name: x-api-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: x-api
  template:
    metadata:
      labels:
        app: x-api
    spec:
      containers:
        - image: <...>/x-api:<version>
          imagePullPolicy: Always
          name: x-api
          ports:
            - containerPort: 9000
      nodeSelector:
        <...>
---
apiVersion: v1
kind: Service
metadata:
  name: x-api-svc
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 9000
  selector:
    app: x-api
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: x-api
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: ...
    traefik.ingress.kubernetes.io/router.tls.domains.0.main: ...
    traefik.ingress.kubernetes.io/router.tls.domains.0.sans: ...
spec:
  rules:
    - host: <...>
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: x-api-svc
                port:
                  number: 80